.container {
  padding: 20px;
}

.card {
  width: 325px;
  /* height: 30rem; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2.5rem;
  background-color: #f9f7f6;
}

.display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 2rem;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.filter_btns {
  display: flex;
  margin-right: 1rem;
}
.filter_btns > button:not(:last-child) {
  margin-right: 10px;
}

.filter button {
  font-size: 1.6rem;
  width: 10rem;
  height: 5rem;
  border-width: 1px;
  color: #9c9c9c;
  /* border-color: #241d13; */
  font-weight: bold;
  background: #f8f8f8;
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .filter {
    justify-content: center;
  }
  .filter_btns > button {
    margin-bottom: 1rem;
  }
}
