.tab {
  display: flex;
  height: 4rem;
  width: 85%;
  margin: 1.5rem auto;
}

.tab > * {
  flex: 1;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  border: 1px solid black;
  cursor: pointer;
}

.active {
  background-color: #101d2c;
  color: white;
}

.errMsg {
  font-size: 3.5rem;
  margin: 3rem 0;
  text-align: center;
}
